body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }

 
  .container {
    width: 800%;
    height: 1000px;
    max-width: 800px;
    margin: 0 auto;
    background-image: url(../assets/images/fondos.png);
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

  }

  .izquierda {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
  }

  #foto{
    width: 250px;
    height: auto;
    border-radius: 100%;
    margin-top: 45px;
  }

  
  .section {
    margin-bottom: 30px;
    display: block;
  }
  .section h1{
    font-size: 24px;
    margin: 0px;
  }
  
  .line {
    width: 3px; 
    height: 1000px; 
    background-color: #333; 
    margin-bottom: 0px; 
  }
  